{% extends 'learning_logs/base.html' %}

{% block header %}
<h2>{{ topic }}</h2>
{% endblock header %}


{% block content %}
<p>
<a class="btn btn-primary" href="{% url 'learning_logs:new_entry' topic.id %}">Add New Entry</a></p>

{% for entry in entries %}
<div class="card mb-3">
<div class="card-header d-flex justify-content-between align-items-center">
      <h5 class="mb-0">
      {{ entry.date_added|date:'M d, Y H:i' }}
      </h5>      
        <a href = "{% url 'learning_logs:edit_entry' entry.id%}">edit entry</a>
</div>
 <div class="card-body">
  <p class="card-text">{{ entry.text|linebreaks }}</p>
 </div>
</div>
  
{% empty %}  
    <p>There are no entries for this topic yet.</p>  
{% endfor %}

{% endblock content %}